header {
    height: 100px;
    width: 100%;
    background-color: blue;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-left {
    width: 1400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-left span {
    color: orange;
    margin: auto;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Henny Penny', cursive;
}

.header-left img {
    height: 70px;
    padding: 15px 20px;
    animation: usj 20s linear 0s infinite normal forwards;
}

@keyframes usj {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}

.ham-check {
    display: none;
}

.header-right {
    display: flex;
    align-items: center;
}

.Windows {
    color: white;
    display: none;
}

.lang-select {
    height: 25px;
    width: 80px;
    text-align: center;
    border-radius: 10px;
    margin-right: 20px;
}

.time {
    font-size: 15px;
    color: white;
    margin-right: 20px;
    width: 120px;
    text-align: center;
}

.copy-container {
    height: 100vh;
    background-image: url(../img/usj-halloween-2021.jpeg);
    background-size: cover;
    background-position: center;
}

.container-text {
    width: 100vw;
}

.container-text h2 {
    margin-left: 20px;
    font-size: 40px;
}

.container-text p {
    font-size: 40px;
    background-color: black;
    color: red;
    text-align: center;
}

.container-text h1 {
    font-size: 100px;
    color: #FF8C00;
    text-align: center;
    background: -webkit-linear-gradient(0deg, #40E0D0, #FF8C00, #FF0080);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

footer {
    height: 50px;
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wiki {
    height: auto;
    width: 100vw;
    display: flex;
}

.wiki-left {
    height: 100%;
    width: 20%;
    background-color: white;
    border-right: lightblue solid 2px;
}

.wiki-left img {
    width: 100%;
    border-radius: 50%;
}

.wiki-left p {
    text-align: center;
    font-family: 'Henny Penny', cursive;
    font-size: 30px;
    margin-top: 10px;
}

.wiki-subtitle {
    text-align: center;
}

.wiki-main {
    height: 100%;
    width: 80%;
}

.our-form {
    height: 60px;
    width: 100%;
    background-color: rgba(119, 136, 153, 0.26);
}

.wiki-left ul {
    text-align: left;
    margin-left: 50px;
    line-height: 1.5;
    margin-top: 20px;
}

.wiki-leftーsubtitle {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    border-bottom: solid 1px #808080;
}

.main-form {
    display: flex;
    /* margin-top: 10px; */
    justify-content: end;
    margin-right: 10px;
}

.main-form p {
    margin-left: 10px;
}

.pege-seach {
    height: 70px;
    width: 200px;
    margin-bottom: 10px;
}

.wiki-seach {
    display: flex;
    justify-content: end;
    margin: 10px;
}

.main-section {
    margin-left: 50px;
}

.main-section h2 {
    margin-top: 20px;
    padding-bottom: 10px;
    font-size: 40px;
    border-bottom: #808080 solid 1px;
}

.main-text {
    margin-top: 80px;
    border-top: #808080 solid 1px;
    display: flex;
}

.main-text p {
    line-height: 1.5;
    font-size: 20px;
    width: 900px;
}

.main-text img {
    border-radius: 40%;
    margin: 20px;
    height: 300px;
    animation: jack 1s ease 0s infinite alternate;
    transform-origin: center;
}

@keyframes jack {
    from {
        transform: scale(0.6, 0.6);
    }
    to {
        transform: scale(1, 1);
    }
}

.parallax_content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parallax_box {
    height: 400px;
    width: 700px;
    overflow-x: hidden;
    overflow-y: auto;
}

.img_bg_01 {
    background-image: url(../img/parallax/star_wars.jpeg);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.img_bg_02 {
    background-image: url(../img/parallax/kimetsu_Halloween.jpeg);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.img_bg_03 {
    background-image: url(../img/parallax/crayon.jpeg);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.img_bg_04 {
    background-image: url(../img/parallax/Disney.jpeg);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.img_bg_05 {
    background-image: url(../img/parallax/kita_tann.jpeg);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

/* ここからレスポンシブ対応 */

@media screen and (max-width:780px) {
    header {
        width: 100vw;
    }
    .lang-select {
        display: none;
    }
    .time {
        display: none;
    }
    .header-left span {
        font-size: 25px;
        margin: auto;
    }
    .copy-container {
        height: 50vh;
        background-position: center;
        background-size: cover;
    }
    .container-text h1 {
        font-size: 40px;
    }
    .container-text p {
        font-size: 20px;
    }
    /* ハンバーガーメニュー */
    .hamburger {
        width: 60px;
        height: 60px;
        display: block;
        margin-right: 20px;
    }
    .hamburger .pate, .hamburger .pate::before, .hamburger .pate::after {
        width: 100%;
        height: 5px;
        display: block;
        background-color: grey;
        border-radius: 2px;
        transition: all .5s ease;
    }
    .hamburger .pate {
        position: relative;
        top: calc(50% - 2px);
    }
    .hamburger .pate::before, .hamburger .pate::after {
        position: absolute;
        content: '';
    }
    .hamburger .pate::before {
        top: -9px;
    }
    .hamburger .pate::after {
        top: 9px;
    }
    #hamburger:checked+.hamburger .pate {
        background-color: transparent;
    }
    #hamburger:checked+.hamburger .pate::before {
        transform: rotate(45deg) translate(5px, 5px);
    }
    #hamburger:checked+.hamburger .pate::after {
        transform: rotate(-45deg) translate(7px, -8px);
    }
    #hamburger {
        display: none;
    }
    header {
        position: fixed;
        width: calc(100%);
        overflow: hidden;
        z-index: 1;
    }
    /* .header-right {
        position: fixed;
        top: 100px;
        right: -500px;
    }
    .header-right ul {
        display: block;
    }
    .header-right li {
        margin-top: 10px;
    }
    #hamburger:checked~.header-right {
        right: 0;
    } */
    .Windows {
        position: fixed;
        top: 100px;
        right: -500px;
    }
    .Windows ul {
        display: block;
        background-color: tomato;
    }
    .Windows li {
        margin-top: 10px;
    }
    #hamburger:checked~.Windows {
        right: 0;
    }
    .wiki-left img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    .wiki-left p {
        font-size: 15px;
    }
    .wiki-subtitle span {
        font-size: 9px;
    }
    .wiki-left ul {
        margin-left: 12px;
    }
    .wiki-leftーsubtitle h3 {
        font-size: 12px;
    }
    .wiki-left li {
        font-size: 10px;
    }
    .main-text p {
        font-size: 12px;
    }
    /* ジャックランタン */
    .main-text img {
        height: 200px;
    }
    /* パララックス */
    .parallax_box {
        width: auto;
    }
    .parallax_content {
        height: 600px;
        width: 300px;
    }
}